body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.team-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #333;
    color: white;
}

